#Home {
    background-color: #000000;
}

.Content {
    position: absolute;
    top: 97px;
    left: 0px;
    width: 466px;
    bottom: 0;
    overflow: hidden;
}

.bgImage {
    position: absolute;
    left: 0px;
    top: 0px;
}

.Query {
    position: absolute;
    left:34px;
    top: 0px;
    width: 398px;
    height: 134px;
}

.querytext1 {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 27px;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
}

.numInputArea {
    width: 378px;
    height: 77px;
    position: absolute;
    left: 10px;
    top: 47px;
}

.numInputText {
    position: absolute;
    left: 21px;
    top: 22px;
    height: 33px;
    color: #FFF;
    font-family: MiSans;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.queryBtn {
    position: absolute;
    right: 9.2px;
    top: 16px;
}
.History {
    position: absolute;
    top:134px;
    left: 34px;
    display: flex;
    width: 398px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.historyTitle .HistoryNum{
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
}
.HistoryChip {
    width: 378px;
    height: 75px;
    border-radius: 20px;
    background-color: rgba(30, 30, 30, 0.70);
    margin-bottom: 10px;
}