#Home {
    background-color: #000000;
}

.Content {
    position: absolute;
    top: 97px;
    left: 0px;
    width: 466px;
    bottom: 0; //不显示是因为没加这个(也可以用height)
    overflow: hidden; //可以不加
}

.bgImage {
    position: absolute;
    left: 0px;
    top: 0px;
}

.Query {
    position: absolute;
    left:34px;
    top: 0px;
    width: 398px;
    height: 134px;
}

.querytext1 {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 27px;
    color: #FFF;
    font-family: MiSans;
    font-size: 20px;
    font-style: normal;
    font-weight: 520;
}

.numInputArea {
    width: 378px;
    height: 77px;
    position: absolute;
    left: 10px;
    top: 47px;
}

.numInputText {
    position: absolute;
    left: 21px;
    top: 22px;
    height: 33px;
    color: #FFF;
font-family: MiSans;
font-size: 25px;
font-style: normal;
font-weight: 520;
line-height: normal;
}

.queryBtn {
    position: absolute;
    right: 9.2px;
    top: 16px;
}