.Detail {
    background-color: black;
}

.StateText {
    font-size: 60px;
    width: 397px;
    color: white;
    font-weight: 600;
}

.remainTime {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 450;
    width: 397px;
}

.DetailContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 466px;
    bottom: 0;
}

.Detaildiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 466px;
    height: auto;
    padding-bottom: 40px
}

.info {
    width: 397px;
    height: 122px;
    background-color: #00000060;
    border-radius: 20;
}

.comText {
    position: absolute;
    top: 25px;
    left: 25px;
    color: #FFF;
    font-family: MiSans;
    font-size: 25px;
    font-style: normal;
    font-weight: 520;
    line-height: normal;
}

.numText {
    position: absolute;
    top: 69px;
    left: 25px;
    color: #CECECE;
    font-family: MiSans;
    font-size: 25px;
    font-style: normal;
    font-weight: 520;
    line-height: normal;
}

.trackInfoContainer {
    display: flex;
    width: 397px;
    flex-direction: column;
    padding: 0px;
}

.trackingInfo {
    margin-top: 20px;
    width: 397px;
    /* 自动布局 */
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.trackTime {
    font-size: 25px;
    font-weight: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.6);
}

.trackContent {
    font-size: 25px;
    font-weight: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    letter-spacing: normal;
    color: #FFFFFF;
    font-weight: 600;
}