.Detail {
    background-color: black;
}

.StateText {
    font-size: 50px;
    width: 397px;
}

.DetailContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 97px;
    left: 0px;
    width: 466px;
    scroll-top: 0px;
    bottom: 0;
}

.info {
    width: 397px;
    height: 127px;
}

.comText {
    position: absolute;
    top: 25px;
    left: 25px;
    color: #FFF;
    font-family: MiSans;
    font-size: 25px;
    font-style: normal;
    font-weight: 520;
    line-height: normal;
}

.numText {
    position: absolute;
    top: 69px;
    left: 25px;
    color: #CECECE;
    font-family: MiSans;
    font-size: 25px;
    font-style: normal;
    font-weight: 520;
    line-height: normal;
}

.trackInfoContainer {
    top: 10px;
    display: flex;
    width: 397px;
    flex-direction: column;
    align-items: center;
}

.trackingInfo {
    position: relative;
    top: 10px;
    width: 397px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 20px;
    background: rgb(30, 30, 30);
}

.trackTime {
    color: #8C8C8C;
    font-family: MiSans;
    font-size: 25px;
    font-style: normal;
    font-weight: 520;
    line-height: normal;
}

.trackContent {
    width: 348px;
    color: #FFF;
    font-family: MiSans;
    font-size: 25px;
    font-style: normal;
    font-weight: 520;
    line-height: normal;
}